* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
    font-size: 16px;
    text-decoration: none;
}
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
header {
    font-family: 'Overpass';
    font-weight: 600;
}
.container {
    width: 100%;
    height: 100%;
}
.introduction {
    background: linear-gradient(90deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    border-bottom-left-radius: 80px;
}
#introduction {
    width: 100%;
    padding: 3rem 7%;
    background: linear-gradient(90deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    display: flex;
    flex-direction: column;
    gap: 5rem;
    color: hsl(0, 0%, 100%);
    position: relative;
    background-image: url(./images/bg-pattern-intro-desktop.svg);
    background-repeat: repeat;
    background-size: cover;
    background-position: right;
    backdrop-filter: inherit;
}
#navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.nav-menu {
    display: flex;
    align-items: center;
    gap: 5rem;
}
.nav-links {
    display: flex;
    gap: 2rem;
}
.nav-links li {
    list-style: none;
    position: relative;
}
.nav-links li ul {
    position: absolute;
    left: 0;
    width: fit-content;
    background-color: hsl(0, 0%, 100%);
    padding: 1rem 3rem 1rem 1rem;
    border-radius: 5px;
    margin: 1rem 0;
    display: none;
}
.nav-links li ul li {
    width: 100%;
}
.nav-links li a {
    display: flex;
    align-items: center;
    gap: 5px;
    color: hsla(0, 0%, 100%, 70%);
}
.nav-links li ul li a {
    color: hsl(207, 13%, 34%);
    font-weight: 500;
    margin: 10px 0;
}
.nav-links li:focus-within > ul,
.nav-links li:hover > ul {
    display: initial;
}
.nav-links li:hover > a {
    text-decoration: underline;
}
.nav-links li ul li a:hover {
    text-decoration: none;
    color: hsl(240, 10%, 16%);
}
.cta {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.cta a {
    color: hsla(0, 0%, 100%, 70%);
    font-weight: 400;
}
.cta .sign-up {
    padding: .5rem .75rem;
    background-color: hsl(0, 0%, 100%);
    color: hsl(356, 100%, 66%);
    border-radius: 20px;
    width: 7em;
    display: flex;
    justify-content: center;
    font-weight: 700;
    transition: all 250ms ease-in;
}
.cta .sign-up:hover {
    background-color: hsl(355, 100%, 74%);
    color: hsl(0, 0%, 100%);
}

.heading {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
.heading header {
    font-size: 3rem;
}
.heading p {
    color: hsla(0, 0%, 100%, 70%);
}
.heading .cta {
    margin: 2rem auto;
}
.heading .cta a {
    padding: .75rem;
    width: 8em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
    color: hsl(356, 100%, 66%);
    font-weight: 700;
    border-radius: 20px;
    transition: all 250ms ease-in;
}
.heading .cta a:hover {
    background-color: hsl(355, 100%, 74%);
    color: hsl(0, 0%, 100%);
}
.heading .cta .learn-more {
    background-color: transparent;
    outline: 1px solid hsl(0, 0%, 100%);
    color: hsl(0, 0%, 100%);
}
.heading .cta .learn-more:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(356, 100%, 66%);
}

#top {
    padding: 5rem 0 5rem 7%;
    width: 100%;
    position: relative;;
    background-color: hsl(0, 0%, 100%);
}
#top header {
    text-align: center;
    font-size: 2rem;
    color: hsl(208, 49%, 24%);
}
#top .contents {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.contents .description {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.extensible-editor {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: start;
}
.extensible-editor header span {
    font-size: 1.5rem;
    font-weight: 500;
}
.extensible-editor p {
    line-height: 1.5;
    color: hsl(207, 13%, 34%);
}
.content-management {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: start;
}
.content-management header span {
    font-size: 1.5rem;
    font-weight: 500;
}
.content-management p {
    line-height: 1.5;
    color: hsl(207, 13%, 34%);
}
#top .contents .illustration {
    width: 100%;
    height: auto;
}
#top .contents .illustration img {
    position: relative;
    top: 0;
    right: -30%;
}

#middle {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5rem  0 5rem 7%;
    background: linear-gradient(90deg, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
    position: relative;
    border-top-right-radius: 80px;
}
#middle .illustration img {
    position: absolute;
    top: -5rem;
}
#middle .contents {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: hsl(0, 0%, 100%);
}
.contents header span {
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Overpass';
}
.contents p {
    /* width: 80%; */
    width: 55ch;
    line-height: 2;
}

#bottom {
    padding: 10rem 7% 5rem 0;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
}
.simplicity p {
    color: hsl(207, 13%, 34%);
}
.efficiency p {
    color: hsl(207, 13%, 34%);
}
#bottom .contents {
    position: relative;
    overflow: hidden;
}
#bottom .illustration img {
    position: relative;
    top: 0;
    left: -25%;
}

footer {
    width: 100%;
    padding: 3rem 14%;
    background-color: hsl(240, 10%, 16%);
    display: flex;
    justify-content: space-between;
}
.footer-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footer-links li {
    list-style: none;
}
.footer-links li a {
    color: hsl(240, 2%, 79%);
}
.footer-links li a:hover {
    text-decoration: underline;
}
.nav-header {
    margin-bottom: 1rem;
}
.nav-header a {
    color: hsl(0, 0%, 100%) !important;
}